body {  
    line-height:20px;
    list-style:none;
    font-family:"Source Sans Pro",sans-serif;
    font-size:16px;
    color:#555;
    font-weight:400;
  } 

.inner  { 
    position: relative; 
    padding: 12px; 
    background-color: #fff;
} 

.inner .img  { 
    position: relative; 
    width: 100%; 
    height: 267px; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
} 

.caption  { 
    padding: 13px 0 0 0; 
    font-size: 13px;
} 

#style-5vdfX.style-5vdfX {  
   background-image:url('data/images/400x400__x400y0__id8795__6d60c6eb37bf02865d026b085b0c5dd7__vysokeprekazkyhoupacka7.jpg');  
}  

/*Shadow*/
.shadow-left { 
    position: absolute; 
    bottom: 0; 
    width: 184px; 
    height: 6px; 
    background-repeat: no-repeat;
    left: 0; 
    background-position: left top; 
    background-image: url(https://www.lanovecentrum.cz/assets/default/images/thumbnail_shadow_bottomleft.png);
} 

.shadow-right { 
    position: absolute; 
    bottom: 0; 
    width: 184px; 
    height: 6px; 
    background-repeat: no-repeat;
    right: 0; 
    background-position: right top; 
    background-image: url(https://www.lanovecentrum.cz/assets/default/images/thumbnail_shadow_bottomright.png);
} 

.thumbnail {
    width: 100%;
}

/*Specifikace: tabulka + button*/
.specs {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

/* Button new */
.order a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87px;
  height: 87px;
  background: linear-gradient(30deg,#e9c303 0%, #fae840 50%);
  color: #000000e6;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  transform: rotate(-20deg);
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;

}

.order a:hover {
    background: #e9c303b3;
}

table {
    width: 66%;
    text-align: left;
    table-layout: fixed;
}

table tr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

table th {
    font-weight: 400;
}

table td {
    font-weight: 600;
}

  table th,
  table td {
    width: 100%;
  }

/*rozcestnik*/
.rozcestnik {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-size: 20px;

}

.code {
    color: #555;
    font-size: 14px;
    padding-top: 15px;
}




@media (min-width: 768px){
    /*Specifikace: tabulka + button*/
.specs {
    display: flex;
    justify-content: space-between;
}



/* Button new */
.order a {
  width: 88px;
  height: 88px;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

  .thumbnail {
    width: calc(33% - 8px); /* dvě vedle sebe s mezerou */
  }

}


@media (min-width: 1200px){ 

    body {
        width: 1170px;
        margin: auto;
    }

    table tr {
    flex-direction: row;
}

}

/*Herní zona*/

p { 
    margin: 0 0 10px;
} 

img { 
    height: auto; 
    max-width: 100%; 
} 

.parameters {
    margin-top: 20px;
}

.parameters h2, h3{
    font-size: 16px;
    margin: 0;
}

.gift a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87px;
    height: 87px;
    background: linear-gradient(30deg,#0a9d8b 0%, #2fe8cc 50%);
    color: #000000e6;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    transform: rotate(-20deg);
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    }

.gift a:hover {
  background: #0bc2adc6;
  }

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }

@media (min-width: 768px){

    .detail {
        display: flex;
        flex-direction: row-reverse;
        align-content: flex-start;
        margin-top: 20px;
    }

    .detail > div:first-child {
    flex: 3;
    }

    .detail > div:last-child {
    flex: 2;
    }

    .detail h1, p {
        margin: 0 15px 10px;
    }


}

@media (min-width: 1200px){ 
  .container { 
    width: 1170px;
  } 

    .thumbnails { 
    margin-left: -30px;
  } 

  .detail {
    display: flex;
    flex-direction: row;
}
}  